@use "./mixin" as *;

@include keyframes(alpha01) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@include keyframes(w_100) {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@include keyframes(scalekv) {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
@include keyframes(alphatop30) {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@include keyframes(alphabottom30) {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@include keyframes(alphleft30) {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@include keyframes(alphright30) {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@include keyframes(rotate360) {
    0% {
        @include rotate(0deg);
    }
    100% {
        @include rotate(360deg);
    }
}
